	<!-- =========== Trait Page =========== -->
	<div class="mainFrame bgTrait">
		<header class="pageWrap wideFlex pad60">
			<div class="logoFrame"><img src="https://cloud.braincore.ch/s/CxmJ5EyRzbDQcaL/preview" alt="BrainElem Academy Logo"/></div>                
		</header>

		<div class="pageWrap wideFlex h100">
			<div class="mainCol pad60">
				<div>
				<h3 class="mBold mainPurple padTitles alignRight">{{ getTraitByKey @root currentTrait "shortName" }}</h3>
				<h5 class="justified">{{ getTraitByKey @root currentTrait "description" }}</h4>
				<div class="iconTitle"><img src="https://cloud.braincore.ch/s/HwJeBEmZRwAFRqe/preview" alt=""/><h4 class="mBold pink">{{ staticT.meaning }}</h4></div>
				<p class="justified">{{ getTraitByKey @root currentTrait "low" }}</p>
			</div>
			</div>
			<div class="mainCol pad60 ">
				<div class="wrapTexts">
					<div class="scoreCircle"><h3 class="score white mBold">{{ getTraitByKey @root currentTrait "normalizedValue" }}</h3></div>
					<div class="iconTitle"><img src="https://cloud.braincore.ch/s/dDK3knF9XTs7KXB/preview" alt=""/><h4 class="mBold pink">{{ staticT.develop }}</h4></div>
					<ol class="justified">
						{{readHtmlInside (stripWhitespacesFromString (getTraitByKey @root currentTrait "extra")) }}
					</ol>
				</div>
			</div>
		</div>

		<footer>
			<div class="pageWrap wideFlex pad18">
				<div class="userName"><h6> {{ currentUser.name }} {{ currentUser.surname }} <span class="uppercase mainPurple mBold">{{ userProfile }}</span></h6></div>
				<div class="sectionTitle"><h6>{{ sectionTitle }}</h6></div>
				<div class="pageNumber"><h6 class="mBold">{{ getEduPageNumber traitId 0 startPage 1}}</h6></div>
			</div>
		</footer>
	</div>