.openChoice_dialog {
    .MuiDialog-paper{
      padding: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      @media (max-width:600px){
        padding: 16px;
      }
    }
  }