.legend-0{
    legend{
        width: 0;
        padding: 0;
    }
}

.block-list-content{
    box-shadow:none;
    background-color: var(--SupCloudy); 
    max-width:32%;
    width: 32%;
    @media (max-width: 900px) {
        max-width: 100%;
        width: 100%;
    }
}

.d-flex-mb-clm{
    display: flex;
    @media (max-width: 576px) {
        flex-direction: column;
    }
}

// .cert-img{
//     &:hover{
//         transform: scale(1.2, 1.2) translate(1.2em, -1.2em);
//         transition: transform 1s;
//         @media (max-width: 576px) {
//             transform: none;
//         }
//     }
// }