
:root{

    // primary colors
    --PPurple: #4F4074;
    --PRed: #A41D18;
    --PGrey: #333333;
    --PLGrey: #F4F7F8;
    --PWhite: #ffffff;
    --PVoilet: #4E4275;
    --PLinkBlue: #3366CC;
    --PBlack: #000000;
    --PBorderColor: #D9DCDD;
    --POrange:#f79c30;
    --PBlackLight:rgb(0 0 0 / 50%);
    --PBlackLight2:rgba(0, 0, 0, 0.8);
    --PBorderDisabled: #b9b9b9;

    // secondary color
    --SGrey: #CFCFCF;
    --SBlue: #0065A9;
    --SSeaGreen: #01948E;
    --SGreen: #019340;
    --SLightGreen: #47AF40;
    --SLightYellow: #FFF402;
    --SYellow: #F2AF18;
    --SLightOrange: #E67819;
    --SOrange: #E46713;
    --SRed: #DB261D;
    --SCardinalPink: #811A61;
    --SPurple: #461B6A;
    --SDarkBlue: #29166F;
    --SblueLight:rgba(217, 220, 221, 0.8);
    --SBluelight:#189fa4;
    --SBluelight2:#15a3a5;
    --SBorderInput: #E7E9EA;

    
    --NSDark: #696E73;
    --badgeDia1: #50BABC;
    --badgeDia2: #FFD23F;
    --badgeDia3: #0071DB;
    --NSIconBorder: #E8E6E9;

    //New Primary Colors
    --MedPurple: #752CAF;
    --PinkPurple: #D154EF;
    --LightPurple: #DFAAF7;

    //New Secondary Colors
    --Turquoise: #29BAED;
    --Yellow: #ED9E20;
    --DarkPurple: #3B1156;
    --Lavender: #B877E4;
    --TextDisabled: #B4B7BA;

    //New Supplementary Colors
    --SupCloudy: #F6F6F6;
    --NSupText: #1F252D;
    --NSupGrey: #D2D3D5;
    --NSupLightGrey: #E9E9EA;
}