.mainBcDiv {
  .admin_content {
    .admin_heading {
      display: flex;
      align-items: center;

      // justify-content: space-between;

      .heading_buttons {
        display: flex;
        justify-content: space-between;
      }
    }
  }


  /* For User Table*/

  .MuiDataGrid-root{
    font-weight: 500 ;
  }

  .minHeight-60vh {
    min-height: 60vh;

    .modelUserPic {
      width: 400px;
      position: absolute;
      bottom: 0;
      right: 200px;
    }

  }

  .account-grid {
    .MuiFormControl-marginDense {
      padding-right: 25px;
      width: 100%;
    }

    .MuiFilledInput-root {
      border: 1px solid var(--SBorderInput);
      border-radius: 10px 10px 0px 0px;
      margin-bottom: 30px;
      border-bottom: 2px solid var(--SBluelight2);
    }
  }


  .hideUserList {
    display: none;
  }

  .showUserList {
    display: block;
  }

}

.tableRoleList {
  color: var(--NSupText);
  overflow-y: clip;
  tr{
    td{
      font-weight: 500;
    }
    td:first-child{
      font-weight: 600;
    }
  }

  .MuiDataGrid-columnHeaderTitle {
    // font-size: 16px !important;
    color: var(--NSupText);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
  }

  .MuiTableCell-root{
    border: none;
  }
  .tableRowContent {
    border-bottom: none !important;
    font-size: 16px;
  }

  .MuiDataGrid-row:nth-child(odd) {
    background: none;
    background-color: var(--SupCloudy);
  }
}
.mainBcTable{
  thead{
    background-color: var(--PBorderColor);
    border-left: 15px solid var(--PBorderColor);
    border-right: 15px solid var(--PBorderColor);

  }
}
// ::-webkit-scrollbar{
//   width: 0;
// }
 .rowAltIn{
  border: 15px solid var(--SupCloudy);
  border-top: 0;
 }
 .rowAltIn2:nth-child(odd){
  background-color: var(--SupCloudy);
 }

 .innerBcTable{
  margin: 15px 0 ;
 }
 .statusFill{
  font-size: 18px !important;
  margin-right: 0;
 }

.rowAlt{
  padding: 0 16px;
  background-color: var(--SupCloudy);
  border-left: 15px solid var(--SupCloudy);
  border-right: 15px solid var(--SupCloudy);

}
.btnSaveSmall{
  font-size: 16px;
}
.selectWrap {
  justify-content: flex-start;
  gap: 0 80px;
}

.selectGroup {
  border: 1px solid var(--PBorderColor);
  border-radius: 10px;
  min-width: 230px;

  .groupHead {
    display: flex;
    background-color: var(--PBorderColor);
    margin-right: 0;
    margin-left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .groupChild {
    padding: 0 10px;
  }
}

.sts_fill{
  margin-right: 18px;
}
.sts_fill_user {
  margin: 0 !important;
  font-size: 18px !important;
}
.toggle-green{
  width: 46px;
  padding: 7px;
  height: 26px;
  // span{
  //   color: var(--MedPurple);
  // }
  // .MuiSwitch-track{
  //   background-color: var(--MedPurple) !important;

  // }
  .MuiSwitch-thumb{
    height: 16px;
    width: 16px;
    position: absolute;
    top: 7px;
    left: 7px;
  }
  .Mui-checked{
    .MuiSwitch-thumb{
      left: 4px !important;
    }
  }
}
.filter-btns{
  padding: 4px 24px !important;
  background-color: transparent;
  border: 1px solid var(--PBorderColor);
  border-radius: 8px;
  height: 38px;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-right: 3px;
  letter-spacing: 0.02857em;
  display: inline-flex;
  align-items: center;
  span{
    margin-left: -2px;
    display: inherit;
    margin-right: 8px;
    svg{
      width: 1em;
      height: 1em;
      font-size: 18px;
      fill: var(--NSupText)
    }
  }

}
.filter-btns:hover{
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
}
.filter-search{
  height: 36px;
  border: 1px solid var(--PBorderColor);
  border-radius: 8px;
  background-color: transparent;
  padding-left: 15px;
}
.filter-export{
  font-size: 16px !important;
  font-weight: 600;
  span{
    margin-left: -2px;
    display: inherit;
    margin-right: 8px;
    svg{
      width: 1em;
      height: 1em;
      font-size: 18px;
      margin: 0;
      fill: var(--DarkPurple);
    }
  }
  &:hover{
    svg{
      fill: var(--PWhite);
    }
  }
}
.color-white{
  color: var(--PWhite);
}

/* Responsiveness */


/* Responsiveness */



.hideUserList {
  display: none;
}

.showUserList {
  display: block;
}
.position_relative{
  position: relative;
}
.filter_search_bar{
  input{
    padding: 4px 0 3px;
  }
}
.filters-desc{
  input, select{
    font-size: 18px;
  }
}
/*-----------------team List table-----------------------*/

.temaList_table {
  .MuiDataGrid-columnHeaders {
    .MuiDataGrid-columnHeaderTitle {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      color: var(--NSupText);
    }
  }

  .MuiDataGrid-main {
    width: 100%;
    overflow-x: auto;
  }

  .MuiDataGrid-virtualScrollerContent {
    .MuiDataGrid-row {
      margin-top: 0 !important;
      margin-bottom: 0 !important;

      &:nth-of-type(odd) {
        background-color: var(--PBorderColor);
      }

      .MuiDataGrid-cellContent {
        color: var(--NSupText);
        font-weight: 500;
      }

      .user-color {
        color: var(--PLinkBlue);
        font-weight: 700;
      }
    }
  }
}

.filter {
  background: var(--SupCloudy);
  border-bottom: 1px solid var(--PBorderColor);
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  .filterRight-sec {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px 0;
  }

  .fiterText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .MuiOutlinedInput-notchedOutline {
    border: 1px solid var(--SblueLight);
    border-radius: 10px;
  }

  .MuiInputBase-input {
    max-width: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--PBlackLight2);
    @media (max-width:576px) {
      width: 100%;
    }
  }

  .MuiFormControl-root {
    margin: 0;
    max-width: 200px;
  }
}

/*-----------------temaList table-----------------------*/

@media (max-width: 1024px) {
  .filter {
    padding-bottom: 10px;
  }
  .mainBcTable{
    width: 160%;
    .innerBcTable{
      width: 100%;
    }
  }
}
@media (max-width: 786px) {
  .mainBcTable{

    .innerBcTable{
      width: 130%;
    }
  }
}


@media (max-width: 576px) {

  .mainBcDiv {
    .admin_content {
      .admin_heading {
        flex-direction: column;
        align-items: flex-start;

        .heading_buttons {
          flex-direction: column;
          gap: 10px;

          .btn_primary {
            font-size: .8rem;
            padding: 5px 12px !important;
            margin-top: 20px;
          }

          .btn_secondary {
            font-size: .8rem;
            padding: 5px 12px !important;
          }

          .pri-btn-wrap {
            justify-content: space-between;
          }

          .btnClear {
            font-size: .8rem;
            padding: 5px 12px !important;
            margin: 0;
          }
        }
      }
    }

    .mainBcTable{
      width: 300%;
      .innerBcTable{
        width: 100%;
      }
    }

    .tab_style {
      button {
        margin-right: 5px;
        // font-size: .6rem;
        padding: 5px 10px;
        min-width: fit-content;
        // padding: 0 15px 0 5px;
      }
    }

    .usercsc_accordian {
      overflow-x: scroll;

      .minHeight-60vh {
        width: 350%;
        min-height: 54vh;

        .modelUserPic {
          width: 200px;
          right: 40px;
        }
      }
    }

    .userbtn {
      justify-content: center;

      button {
        min-width: auto;
      }
    }
  }

  .w-500 {
    width: auto !important;
  }

  .cardContent {
    padding: 0;
  }


  .tableRL {
    overflow-x: auto;
    .MuiDataGrid-cell{
      font-weight: 500 !important;
    }
  }
  .MuiDataGrid-root{
    .MuiDataGrid-cell{
      font-weight: 500;
    }
  }
}
.btnStatus{
  min-width: fit-content;
  border: none;
  padding: 0 !important;
  &:hover{
    background-color: transparent;
    color: var(--NSupText);
  }
}
.btnStatusSent {
  // border-color: var(--Turquoise);
  color: var(--NSupText);
  svg {
    color: var(--Turquoise);
  }
  // &:hover{
  //   // border-color: var(--Turquoise);
  // }
}

.btnStatusNotCompleted {
  // border-color: var(--SRed);
  color: var(--NSupText);
  svg {
    color: var(--SRed);
  }
  // &:hover{
  //   // border-color: var(--SRed);
  // }
}
.btnStatusCompleted {
  // border-color: var(--SGreen);
  color: var(--NSupText);
  svg {
    color: var(--SGreen);
  }
  // &:hover{
  //   // border-color: var(--SGreen);
  // }
}
.btnStatusNoTest {
  // border-color: var(--NSupText);
  color: var(--NSupText);
  svg {
    color: var(--NSupText);
  }
  // &:hover{
  //   // border-color: var(--NSupText);
  // }
}
// .tbl_icon{
//   &:hover{
//     background-color: var(--MedPurple);
//   }
// }

.teams_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media (max-width:1130px) {
    flex-direction: column;
    align-items: flex-start;
    .statuses{
      flex-wrap: wrap;
      justify-content: flex-start !important;
      row-gap: 5px !important;
      // margin-top: 16px;
    }
  }
}

// .filterRight-sec {
//   @media (max-width:576px) {
//     display: grid !important;
//     grid-template-columns: 1fr 1fr;
//    }
// }

.css-1t5wrdm-MuiDataGrid-filterForm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
}
.css-154sxbz-MuiPaper-root-MuiDataGrid-paper {
  background-color: var(--PWhite);
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  background-color: var(--PWhite);
  min-width: 300px;
  max-height: 450px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media print {
  svg{
    display: none !important;
  }
  svg.MuiSvgIcon-root{
  display: none !important;
 }
}
